/* PC */
@media (min-width: 64em) {
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  #content .content-section {
  }
  #nav .subnav a {
    padding: 5px 12px;
  }
  .contact-info {
    line-height: 2;
  }
}
/* Table & Mobile */
@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }
}
/* Mobile */
@media (max-width: 46.1875em) {
  .s-full-width {
    width: 100% !important;
  }
  .s-col-full {
    width: 100% !important;
  }
  .s-mb-0 {
    margin-bottom: 0 !important;
  }
  .s-mt-8 {
    margin-top: 8px;
  }
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #nav {
    display: block;
  }
  #nav li {
    display: block;
  }
  #nav li:first-child {
    display: inline-block;
  }
  #nav li a {
    display: block;
    padding: 1px 24px;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 0 41px;
  }
  .contact-form {
    margin-top: 32px;
  }
  .contact-form .form-control {
    padding: 15px;
  }
  .social-list {
    font-size: 48px;
  }
  .social-list a {
    margin: 0 8px;
  }
  .copy-right a {
    padding: 12px 0;
    display: inline-block;
  }
}
